<div class="copyright">
    <p> © 2019 Hadoop as a Service. All rights reserved | Design by <a href="https://github.com/sandeepvarma123/Hadoop-As-A-Service" target="_blank">HaaS Team</a></p>
</div>
<!-- //copyright --> 
</div>	
<!-- //main -->

</body>
</html>