<div class="copyright">
    <p> © 2019 Hadoop as a Service. All rights reserved | Design by <a href="" target="_blank">HaaS Team</a></p>
</div>
<!-- //copyright --> 
</div>	
<!-- //main -->

</body>
</html>