<head>
    <title>Hadoop as a Service</title>
        <!-- Meta-Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="keywords" content="Hadoop as a Service">
        <!-- //Meta-Tags -->
        <!-- Custom Theme files -->
        <link href="/css/login.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/font-awesome-login.css" rel="stylesheet"> <!-- Font-Awesome-Icons-CSS -->
        <!-- //Custom Theme files -->
        <script src="/js/jquery-1.11.1.min.js"></script>


        <link href="/css/bootstrap.min1.css" rel='stylesheet' type='text/css' />
        <script src="/js/bootstrap.min1.js"></script>
        <link href="/css/alerts.css" rel='stylesheet' type='text/css' />
            
        
               
       


    </head>
    <body>