<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error){ %>
      <div class="alert alert-warning fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> <%= error.msg %>
      </div>        
    <% }); %>
<% } %>

<% if(success_msg != '') { %>

  <div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Success!</strong> <%= success_msg %>
  </div>
<% } %>

<% if(error_msg != '') { %>
  <div class="alert alert-warning fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Error!</strong> <%= error_msg %>
  </div>
<% } %>

<% if(error != '') { %>
  <div class="alert alert-warning fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Error!</strong> <%= error %>
  </div>
<% } %>