<!DOCTYPE HTML>
<html>
		<% include includes/header.ejs %>
		<% include includes/sideNavBar.ejs %>	
		<% include includes/headNavBar.ejs %>
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<div class="tables">
					<h2 class="title1">Tables</h2>
								<div class="bs-example widget-shadow" data-example-id="contextual-table"> 
									<h4>Colored Rows Table:</h4>
									<table class="table">
										<thead> 
											<tr>
												<th>#</th>
												<th>Column heading</th> 
												<th>Column heading</th> 
												<th>Column heading</th> 
											</tr> 
										</thead>
										<tbody> 
											<tr> 
												<th scope="row">2</th> 
												<td>Column content</td> 
												<td>Column content</td> 
												<td>Column content</td> 
											</tr> 
											<tr class="danger"> 
												<th scope="row">9</th> 
												<td>Column content</td> 
												<td>Column content</td> 
												<td>Column content</td> 
											</tr> 
										</tbody>
									</table> 
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>	
			</div>
		</div>
<% include includes/footer.ejs %>	