<!DOCTYPE HTML>
<html>
		<% include includes/header.ejs %>
		<% include includes/sideNavBar.ejs %>	
		<% include includes/headNavBar.ejs %>	
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<div class="forms">
					
				<div class="row">
					<h2 class="title1">Forms</h2>
						<div class="form-three widget-shadow">
							<form class="form-horizontal" enctype="multipart/form-data" action="/pig" method="post">
								
								<div class="form-group"> 
									<label for="exampleInputFile" class="col-sm-2 control-label">Input File</label>
									<div class="col-sm-8">
										<input type="file" class="form-control1" name="imgUploader" id="exampleInputFile"> 
									</div>
								</div> 
								<div class="form-group"> 
									<label for="exampleInputFile" class="col-sm-2 control-label"> Main Lib File</label>
									<div class="col-sm-8">
										<input type="file" class="form-control1" name="imgUploader" id="exampleInputFile"> 
									</div>
								</div>
								<div class="form-group"> 
									<label for="exampleInputFile" class="col-sm-2 control-label"> Lib File </label>
									<div class="col-sm-8">
										<input type="file" class="form-control1" name="imgUploader" id="exampleInputFile"> 
									</div>
								</div>
								<div class="form-group"> 
									<label for="exampleInputFile" class="col-sm-2 control-label"></label>
									<div class="col-sm-8">
										<button type="submit"   class="btn btn-success">Launch Job</button> 
									</div>
								</div>
								
							</form>
						</div>
					</div>
			</div>
		</div>
<% include includes/footer.ejs %>	