<!DOCTYPE html>
<html>
<% include includes/headersignin.ejs %>	
	<!-- main -->
	<div class="main">
		<h1>Hadoop as a Service</h1>
		<div class="main-w3lsrow">
			<!-- login form -->
			<div class="login-form login-form-left"> 
				<div class="agile-row">
					<div class="head">
						<h2>Sign In</h2>
						<span class="fa fa-lock"></span>
					</div>					
					<div class="clear"></div>
					<div class="login-agileits-top"> 
						<% include ./partials/messages %>	
						<form action="signin" method="post"> 
							<input type="text" class="name" name="email" Placeholder="Email" required=""/>
							<input type="password" class="password" name="password" Placeholder="Password" required=""/>
							<input type="submit" value="Login Now"> 
						</form> 	
					</div> 
					<div class="login-agileits-bottom">
						<h6><a href="signup">Need an account?</a></h6>
					</div> 

				</div>  
			</div>  
		</div>
<% include includes/footersignin.ejs %>			