<!DOCTYPE html>
<html>
<head>
<title>Hadoop as a Service</title>
	<!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Hadoop as a Service">
    <!-- //Meta-Tags -->
	<!-- Custom Theme files -->
	<link href="css/login.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/font-awesome-login.css" rel="stylesheet"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom Theme files -->
</head>
<body>
	<!-- main -->
	<div class="main">
		<h1>Hadoop as a Service</h1>
		<div class="main-w3lsrow">
			<!-- login form -->
			<div class="login-form login-form-left"> 
				<div class="agile-row">
					<div class="head">
						<h2>Sign In</h2>
						<span class="fa fa-lock"></span>
					</div>					
					<div class="clear"></div>
					<div class="login-agileits-top"> 	
						<form action="#" method="post"> 
							<input type="text" class="name" name="user name" Placeholder="Username" required=""/>
							<input type="password" class="password" name="Password" Placeholder="Password" required=""/>
							<input type="submit" value="Login Now"> 
						</form> 	
					</div> 
					<div class="login-agileits-bottom">
						<h6><a href="signup.html">Need an account?</a></h6>
					</div> 

				</div>  
			</div>  
		</div>
		<div class="copyright">
			<p> © 2019 Hadoop as a Service. All rights reserved | Design by <a href="" target="_blank">HaaS Team</a></p>
		</div>
		<!-- //copyright --> 
	</div>	
	<!-- //main -->
</body>
</html>